.footer {
  padding: 50px 0px;
  background: #fde4e4;
  display: flex;
  text-align: start;
  justify-content: center;
  gap: 8rem;
  align-items: center;
}

.footer__logo img {
  width: calc(100% - 70%);
  margin-bottom: 1.5rem;
}

.footer__logo h5 {
  font-weight: 600;
  font-size: 1rem;
  margin-bottom: 15px;
}

.footer__logo p {
  font-size: 0.9rem;
  color: #333;
  line-height: 29px;
}

.delivery__time-item {
  display: flex;
  margin: 0;
  gap: 0.7rem;
  background: transparent !important;
}

.delivery__time-item span {
  font-weight: 600;
  color: #212245;
  margin: 0;
}

.delivery__time-item p {
  color: #212245;
}

.footer__title {
  font-size: 1.1rem;
  color: #212245;
  font-weight: 600;
}

.newsletter input {
  background: transparent;
  border: none;
  outline: none;
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  font-size: 16px;
}

.social__links span i:hover {
  background: #212245;
}

.footer p.copyright__text {
  font-size: .8rem;
  color: #df2020;
}

.newsletter button.hs-btns:hover {
  background: #212245;
}

.social__links span i {
  padding: 5px;
  background: #df2020;
  color: #fff;
  border-radius: 50%;
  font-size: 16px;
}

.newsletter form {
  padding: 5px;
  border: 1px solid #212245;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.newsletter button.hs-btns {
  background: #df2020;
  padding: 5px 30px;
  border-radius: 5px;
  color: #fff;
  border: 0;
  cursor: pointer;
  margin: 0;
  font-family: inherit;
  line-height: inherit;
  font-size: 16px;
}

.newsletter input::placeholder {
  color: #212245;
}

.delivery__time-item span {
  font-size: 16px;
}

.delivery__time-item p {
  font-size: 16px;
}

.footer p {
  font-size: 16px;
}

.footer__logo h5 {
  margin-top: -15px;
}

@media only screen and (max-width:1064px) {
  .newsletter button.hs-btns {
    padding: 5px 10px;
  }
}

@media only screen and (max-width:991px) {
  .newsletter button.hs-btns {
    padding: 4px 20px;
    font-size: .7rem;
  }
}

@media only screen and (max-width: 768px) {
  .footer {
    flex-direction: column;
    text-align: center;
    gap: 1rem;
  }

  .footer__logo img {
    width: calc(100% - 85%);
  }

  .footer__title {
    font-size: 0.9rem;
  }

  .delivery__time-item span {
    font-size: 0.8rem;
  }

  .delivery__time-item p {
    font-size: 0.7rem;
    margin-bottom: 0;
  }

  .logo.footer__logo.text-start {
    display: flex;
    flex-direction: column;
  }

  .footer__logo h5 {
    text-align: center;
  }

  .footer__logo p {
    text-align: center;
  }

  .footer__logo img {
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px !important;
  }

}